<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-description">
  <h2><%= pub.name %></h2>
  <p><%= pub.description %></p>
  </div>
  <a class="card-link" href="#" ></a>
  <%= link_to "", restaurants_path(restaurants), class "card-link" %>
</div>
